@font-face {
	font-family: 'Super Glue';
	src: url('./assets/fonts/SuperGlue.woff2') format('woff2'),
		  url('./assets/fonts/SuperGlue.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--shimmer-urlbar-rounding: 100px;
}

*:not(.tabs-menu) {
	scrollbar-width: thin !important;
}

/* whole middle card */
.activity-stream .outer-wrapper > main,
.showPrivate {
	/* background: var(--newtab-background-color-secondary) !important; */
	background: rgba(150, 150, 150, 0.35) !important;
	border-radius: 3rem;
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.activity-stream .outer-wrapper > main {
	/* make space for new logo/font */
	padding: 2rem 0 0 0 !important;
	mix-blend-mode: luminosity !important;
}

.showPrivate {
	padding: 2rem !important;
}

.activity-stream .logo,
.showPrivate .logo {
	display: none !important;
}

.activity-stream .logo-and-wordmark,
.showPrivate .logo-and-wordmark {
	margin-bottom: 24px !important;
}

.activity-stream .wordmark,
.showPrivate .wordmark {
	background: none !important;
	width: auto !important;
	height: auto !important;
	display: flex !important;
	align-items: center !important;
	margin: 0 !important;
	gap: 1.5rem !important;
}
.activity-stream .wordmark::after,
.showPrivate .wordmark::after {
	content: 'firefox';
	font-family: 'super glue';
	color: #fff !important;
	filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.15));
	/* mix-blend-mode: color-burn !important; */
	font-size: 4rem;
	letter-spacing: 0.25rem;
}
.activity-stream .wordmark::before,
.showPrivate .wordmark::before {
	content: '';
	background: url(./assets/icons/ff.svg);
	background-size: 100% 100%;
	width: 6rem;
	height: 6rem;
	display: block;
	filter: drop-shadow(0 0 2px rgba(0,0,0,0.2));
}

.activity-stream .search-handoff-button,
.showPrivate .search-handoff-button {
	border-radius: var(--shimmer-urlbar-rounding) !important;
}
.activity-stream .search-handoff-button {
	mix-blend-mode: color-burn !important;
}

.activity-stream .search-inner-wrapper,
.showPrivate .logo-and-wordmark {
	background: transparent !important;
}
.activity-stream .search-inner-wrapper {
	mix-blend-mode: color-burn !important;
	/* make fake searchbar take whole card width */
	width: 100% !important;
	padding: 0 3rem !important;
}

.activity-stream .outer-wrapper,
.showPrivate .outer-wrapper {
	display: flex !important;
	padding: 48px !important;
}

.activity-stream .customize-menu .close-button-wrapper::before {
	content: 'shimmer version 2.35, check for updates at';
	display: block;
	position: absolute;
	top: 35%;
	font-size: 0.8rem;
}

.activity-stream .customize-menu .close-button-wrapper::after {
	content: 'github.com/nuclearcodecat/shimmer';
	display: block;
	color: color-mix(in srgb, #aaa 50%, var(--lwt-sidebar-text-color) 50%);
	position: absolute;
	bottom: 0;
	font-size: 0.875rem;
}

section[data-section-id='topsites'] {
	margin-bottom: 0 !important;
}

.showPrivate .info {
	border-radius: 30px !important;
}

#root > .no-search.no-recommended-stories main {
	padding-top: 0 !important;
}

.activity-stream .wallpaper-attribution {
	color: #fff !important;
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5)) !important;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	margin-top: 25px !important;
}

.showPrivate .info-border {
	background: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	margin-top: 3.25rem !important;
}

.showPrivate .search-handoff-button {
	border: none !important;
	border-left: solid 0.8rem rgb(50, 28, 100) !important;
}

.showPrivate .wordmark::before {
	mix-blend-mode: luminosity !important;
}

#root .has-mobile-download-promo .mobileDownloadPromoWrapper {
	display: none !important;
}

.newtab-main {
	/* i have no idea why this works but it does :3c */
	min-width: 0 !important;
	max-width: 45rem !important;
}
.non-collapsible-section {
	max-width: 45rem !important;
}

@media screen and (max-width: 550px) {
	.activity-stream .wordmark::before {
		width: 4rem !important;
	}

	.activity-stream .wordmark::after {
		font-size: 3.5rem !important;
	}
}
